<%- include("partials/header.ejs") %>

<!-- Dog Breed Identification Section -->
<section id="identify-breed">
  <div class="container-fluid">
    <h2 class="section-heading">Identify Dog Breed</h2>

    <!-- Breed Identification Form -->
    <form
      id="breed-identification-form"
      enctype="multipart/form-data"
      action="/identify-breed"
      method="POST"
    >
      <input type="file" id="image-input" accept="image/*" name="dogImage" />
      <button type="submit" id="identify-button" class="btn btn-dark btn-lg">
        Identify
      </button>
    </form>

    <!-- Uploaded Image Display -->
    <% if (locals.response && locals.imageFilePath) { %>
    <div id="uploaded-image" class="mt-4">
      <h3 class="mb-3">Uploaded Image:</h3>
      <img src="<%= locals.imageFilePath %>" alt="Uploaded Dog Image" class="img-fluid" />
    </div>
    <% } %>

    <!-- Result Display -->
    <% if (locals.response) { %>
    <div id="result" class="mt-4">
      <h3 class="mb-3">Top 5 Dog Breeds:</h3>
      <ul class="list-group">
        <% locals.response.forEach((breed, index) => { %>
        <li class="list-group-item">
          <%= breed.label %> (Accuracy: <%= (breed.score * 100).toFixed(2) %>%)
        </li>
        <% }); %>
      </ul>
    </div>
    <% } %>
  </div>
</section>

<%- include("partials/footer.ejs") %>
